DATABASE_URL=

SECRET_KEY=

ACCESS_TOKEN_EXPIRE_MINUTES=480

ADMIN_NAME=AdminUser
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

OPERATOR_NAME=WarehouseOperator
OPERATOR_USERNAME=operator
OPERATOR_PASSWORD=op123
